<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - obligatorioP3_MantenimientoCabañas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/obligatorioP3_MantenimientoCabañas.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mantenimiento de Cabañas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (Context.Session.GetString("usuarioLogueado") == "si")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Volver al Inicio</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="Index">Listado de Tipos</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="Index">Listado de Cabañas</a>
                            </li>                

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Logout"> Salir</a>
                            </li>
          
                        }else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login"> Acceder</a>
                            </li>
                        }

                    </ul>
                </div>
             
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (Context.Session.GetString("usuarioLogueado") == "si" && Context.Session.GetString("Menu") == "si")
    {
        <h2>Getión de tipos: </h2><br />

        <a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="CreateTipo">Crear Tipo</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="Index">Listar tipos</a>      
        <a class="nav-link text-dark" asp-area="" asp-controller="Tipo" asp-action="BuscarTipoPorNombre">Buscar tipo por Nombre</a>


        <h2>Gestión de Mantenimientos: </h2><br />

        
        <a class="nav-link text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="listarMantenimientosDeCabaña">Listar mantenimientos de una cabaña</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="MantenimientosPorCabañaPorFechas">Ver mantenimientos realizados por cabaña entre fechas: </a>


        <h2>Gestión de Cabañas: </h2><br />


        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="CreateCabaña">Crear Cabaña</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="Index">Listar Cabañas</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="CabañasPorTexto">Buscar Cabaña por texto</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="CabañasPorTipo">Buscar Cabaña por tipo</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="CabañasPorCantMaxPersonas">Buscar Cabaña por cantidad máxima</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Cabaña" asp-action="CabañasHabilitadas">Buscar Cabaña cabañas habilitadas</a>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - obligatorioP3_MantenimientoCabañas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
