@model PresentacionMVC.Models.MantenimientoViewModel

@{
    ViewData["Title"] = "CreateMantenimiento";
}

<h1>Crear Mantenimiento</h1><br>
<div>@ViewBag.Mensaje</div>
<div>@ViewBag.Tipos</div>

<h4>Mantenimiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMantenimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario" class="control-label"></label>
                <input asp-for="Funcionario" class="form-control" />
                <span asp-validation-for="Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group invisible">            
                <label asp-for="CabaniaId" class="control-label"></label>
                <input asp-for="CabaniaId" class="form-control" />
                <span asp-validation-for="CabaniaId" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

